apiVersion: v1
kind: Pod
metadata: 
  name: demo-pod
spec:
  containers:
    - name: app
      command: ["/bin/sh","-c","echo '$(hostname)'; echo $USERNAME"]
      image: busybox:latest
      envFrom: 
       - configMapRef:
            name: demo-config
      env:
        - name: USERNAME
          valueFrom:
            secretKeyRef:
              name: demo-secret
              key: username
      
